---
import { mapObjectToProps } from "#helpers";

let { className, style, data, disabled } = Astro.props;

let props = {
  class: className,
  disabled,
  style,
};

props = mapObjectToProps({ data, props });
---

<button {...props}>
  <slot />
</button>

<style lang="scss">
  @use "#styles/mixins" as *;

  button {
    @include invisible-button;
  }
</style>
