---
let { className, style, data } = Astro.props;

let props = {
  class: className,
  style,
  data,
};
---

<button {...props}>
  <slot />
</button>

<style lang="scss">
  @use "#styles/mixins" as *;

  button {
    @include invisible-button;
  }
</style>
