---
import { get } from "#helpers";

let { className, size = 20, onClick, id } = Astro.props;

let props = {
  "class:list": ["button", className],
  onClick,
  id,
};

let padding = size * 0.5;

let radius = padding * 0.5;

let vars = {
  padding: get.rems(padding),
  radius: get.rems(radius),
  size: get.rems(size),
};
---

<button {...props}>
  <slot name="icon" />
  <div class="content">
    <slot />
  </div>
  <slot name="count" />
</button>

<style lang="scss" define:vars={vars}>
  @use "#mixins" as *;

  $outline-button--defaults: white, black, var(--radius), var(--padding);

  .button {
    @include outline-button($outline-button--defaults...);

    & {
      font-size: var(--size);
      gap: var(--padding);
    }
  }
</style>
