---
import { get } from "#helpers";

let { className, size = 20, onClick, id } = Astro.props;

let props = {
  "class:list": ["button", className],
  onClick,
  id,
};

let padding = size * 0.5;

let radius = padding * 0.5;

let vars = {
  padding: get.rems(padding),
  radius: get.rems(radius),
  size: get.rems(size),
};
---

<button {...props}>
  <slot />
</button>

<style lang="scss" define:vars={vars}>
  @use "#styles/mixins" as *;

  $outline-button--defaults: black, white, var(--radius), var(--padding);

  .button {
    @include solid-button($outline-button--defaults...);

    & {
      font-size: var(--size);
    }
  }
</style>
