---
import { get } from "#helpers";

let {
  className,
  backgroundColor = "black",
  color = "white",
  size = 20,
  padding = size * 0.5,
  radius = padding * 0.5,
  onClick,
  id,
} = Astro.props;

let props = {
  "class:list": ["button", className],
  onClick,
  id,
};

let vars = {
  padding: get.rems(padding),
  radius: get.rems(radius),
  size: get.rems(size),
  backgroundColor,
  color,
};
---

<button {...props}>
  <slot />
</button>

<style lang="scss" define:vars={vars}>
  @use "#mixins" as *;

  $outline-button--defaults: var(--backgroundColor), var(--color), var(--radius),
    var(--padding);

  .button {
    @include solid-button($outline-button--defaults...);

    & {
      font-size: var(--size);
    }
  }
</style>
