  $margin-card: 0.75rem;

  $margin-top-card: $margin-card * 5;

  $margin-bottom-card-header: 1.25rem;

  $border-radius-card: $margin-card;

  $padding-card: $margin-card;

  $width-card: 17.5rem;

  $max-width-card-intro: 15rem;

  $size-card-profile: 6.25rem;

  $size-card-info: 1.875rem;