@use "sass:color";

$c-gray-1: #f8f9fa;
$c-gray-2: #e9ecef;
$c-gray-3: #dee2e6;
$c-gray-4: #ced4da;
$c-gray-5: #adb5bd;
$c-gray-6: #6c757d;
$c-gray-7: #495057;
$c-gray-8: #343a40;
$c-gray-9: #212529;

$c-blue: #007bff;
$c-indigo: #6610f2;
$c-purple: #6f42c1;
$c-pink: #e83e8c;
$c-red: #dc3545;
$c-darkred: color.adjust($c-red, $lightness: -10%);
$c-orange: #fd7e14;
$c-yellow: #ffc107;
$c-green: #28a745;

$c-teal: #20c997;
$c-teal--dark: color.adjust($c-teal, $lightness: -10%);
$c-teal--xdark: color.adjust($c-teal, $lightness: -20%);
$c-teal--xxdark: color.adjust($c-teal, $lightness: -35%);

$c-cyan: #17a2b8;
$c-sky: #87cefa;

$c-lemon: lightgoldenrodyellow;
$c-gold: #f5c356;

$c-body-bg: $c-gray-2;
$c-body-banner: color.adjust($c-body-bg, $lightness: -15%);

$c-status-neutral-fade: hsl(205, 100%, 95%);
$c-status-neutral-light: hsl(205, 100%, 75%);
$c-status-neutral: hsl(205, 100%, 37%);

$c-status-error-fade: hsl(0, 45%, 95%);
$c-status-error-light: hsl(0, 45%, 75%);
$c-status-error: hsl(0, 45%, 37%);

$c-status-success-fade: hsl(120, 30%, 95%);
$c-status-success-light: hsl(120, 30%, 75%);
$c-status-success: hsl(120, 30%, 37%);

$color-code: #d0d0d0;

$color-code--background: #181818;