@use "padding" as *;

$margin-button: $padding-row + 1.125rem;

$margin-row: $padding-row * 1.5;

$margin-paragraph: 1.25rem;

$margin-blockquote: $margin-paragraph * 1.5;

$page-button-bump-sm: $padding-row * 0.625;

$page-button-bump-lg: $padding-row * 0.75;

$margin-card: 0.75rem;

$margin-top-card: $margin-card * 5;

$margin-bottom-card-header: 1.5rem;

$margin-bottom-card-copy: $margin-card * 0.5;

$margin-bottom-p: 1rem; // plusp