$padding-row-hz: 0.75rem;

$padding-link: 0.75rem;

$padding-canvas: 2rem;

$padding-tag: 0.5rem 0.75rem;

$padding-row: 1.5rem;

$padding-trello: 0.625rem;

$padding-blockquote: 1rem;

$padding-card: 0.75rem;