$c-gray-1: #f8f9fa;
$c-gray-2: #e9ecef;
$c-gray-3: #dee2e6;
$c-gray-4: #ced4da;
$c-gray-5: #adb5bd;
$c-gray-6: #6c757d;
$c-gray-7: #495057;
$c-gray-8: #343a40;
$c-gray-9: #212529;

$c-blue: #007bff;
$c-indigo: #6610f2;
$c-purple: #6f42c1;
$c-pink: #e83e8c;
$c-red: #dc3545;
$c-darkred: darken($c-red, 10%);
$c-orange: #fd7e14;
$c-yellow: #ffc107;
$c-green: #28a745;

$c-teal: #20c997;
$c-teal--dark: darken($c-teal, 10%);
$c-teal--xdark: darken($c-teal, 20%);
$c-teal--xxdark: darken($c-teal, 35%);

$c-cyan: #17a2b8;
$c-sky: #87cefa;

$c-lemon: lightgoldenrodyellow;
$c-gold: #f5c356;

$c-body-bg: $c-gray-2;
$c-body-banner: darken($c-body-bg, 15%);