---
import { Spotify } from "#svgs";
import Link from "#components/window/spotify/link";

let { url, owner, name } = Astro.props;
---

<div class="wrap-details">
  <div class="details">
    <Link href={url} className="wrap-name">{name}</Link>
    <Link href={owner.url} className="wrap-owner">
      {owner.name}
    </Link>
  </div>
  <div class="wrap-logo">
    <div class="logo"><Spotify /></div>
  </div>
</div>

<style lang="scss">
  @use "#styles/mixins" as *;

  .wrap-details {
    grid-template-columns: toRem(132) toRem(24);
    padding: toRem(6);
    gap: toRem(6);
    display: grid;
  }

  .details {
    text-align: left;
  }

  .wrap-logo {
    padding-top: toRem(4);
  }

  .wrap-name {
    font-size: 0;
  }

  .wrap-owner {
    font-size: 0;
  }

  .owner {
    @include track_name;
  }
</style>
