---
import { spotify } from "~data/layout.json";
import Track from "#components/window/spotify/track";

const { year } = Astro.props;

const { tracks, url } = spotify["_" + year];
---

<main>
  {
    tracks.map(function (track, index) {
      const trackProps = {
        number: index + 1,
        track,
        url,
      };
      return <Track {...trackProps} />;
    })
  }
</main>

<style lang="scss">
  @use "#styles/mixins" as *;

  main {
    max-height: $width-window;
    overflow: scroll;
    padding: 0.75rem;
  }
</style>
