---
import Track from "#components/window/spotify/track";

let { tracks, url } = Astro.props;
---

<main>
  {
    tracks.map(function (track, index) {
      let props = {
        number: index + 1,
        track,
        url,
      };
      return <Track {...props} />;
    })
  }
</main>

<style lang="scss">
  @use "#styles/mixins" as *;

  main {
    max-height: $width-window;
    overflow: scroll;
    padding: 0.75rem;
  }
</style>
