---
import helpers from "#helpers";

const { size = 20, href = "/resume", id, justify = "center" } = Astro.props;

const anchorProps = {
  class: "anchor",
  href,
  id,
};

const padding = size * 0.5;

const radius = padding * 0.5;

const vars = {
  padding: helpers.get.rems(padding),
  radius: helpers.get.rems(radius),
  size: helpers.get.rems(size),
  justify,
};
---

<div class="link outline">
  <a {...anchorProps}>
    <slot name="icon" />
    <div class="content">
      <slot />
    </div>
    <slot name="count" />
  </a>
</div>

<style lang="scss" define:vars={vars}>
  @import "../../styles/mixins";

  .outline {
    justify-content: var(--justify);
    display: flex;
  }

  .anchor {
    border-radius: var(--radius);
    background-color: white;
    border: black 1px solid;
    padding: var(--padding);
    font-size: var(--size);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: var(--padding);
    fill: currentColor;
    font-weight: bold;
    line-height: 1;
    color: black;

    &:active {
      transform: scale(0.95);
    }

    @include focus {
      background-color: black;
      color: white;
    }
  }
</style>
