---
let { className } = Astro.props;
---

<div class:list={["banner-container", className]}>
  <slot />
</div>

<style lang="scss">
  .banner-container {
    background-color: black;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
  }
</style>
