<div class="banner-container">
  <slot />
</div>

<style lang="scss">
  @import "../styles/mixins";

  .banner-container {
    background-color: black;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
  }
</style>
