---
let {
  backgroundColorChecked = "red",
  backgroundColor = "#ccc",
  color = "white",
} = Astro.props;

let vars = { backgroundColorChecked, backgroundColor, color };
---

<label>
  <input type="checkbox" />
  <span></span>
</label>

<style lang="scss" define:vars={vars}>
  @use "#styles/mixins" as *;

  label {
    height: $height-switch;
    display: inline-block;
    width: $width-switch;
    position: relative;
  }

  label input {
    @include inset;

    & {
      border-radius: $border-radius-slider;
      height: $height-switch;
      width: $width-switch;
      position: absolute;
      margin: 0;
    }

    @include focus {
      outline: 0.1875rem solid var(--backgroundColor);
      outline-offset: 0.25rem;
    }
  }

  span {
    @include inset;

    & {
      background-color: var(--backgroundColor);
      -webkit-transition: $transition-slider;
      border-radius: $border-radius-slider;
      transition: $transition-slider;
      position: absolute;
      cursor: pointer;
    }
  }

  span:before {
    @include size($size-slider);

    & {
      -webkit-transition: $transition-slider;
      background-color: var(--color);
      transition: $transition-slider;
      bottom: $offset-slider;
      left: $offset-slider;
      border-radius: 50%;
      position: absolute;
      content: "";
    }
  }

  input:checked + span {
    background-color: var(--backgroundColorChecked);
  }

  input:checked + span:before {
    -webkit-transform: translateX($size-slider);
    -ms-transform: translateX($size-slider);
    transform: translateX($size-slider);
  }
</style>
