---
let { className, style } = Astro.props;

let props = {
  "class:list": ["wrap", className],
  style,
};
---

<div {...props}>
  <slot />
</div>

<style lang="scss">
  @use "#styles/mixins" as *;

  .wrap {
    @include wrap;
  }
</style>
