@use "../mixins" as *;

h1 {
  @include h-styles($h1-font-size * 0.5);

  & {
    font-size: $h1-font-size;
  }
}

h2 {
  @include h-styles;

  & {
    font-size: $h2-font-size;
  }
}

h3 {
  @include h-styles;

  & {
    font-size: $h3-font-size;
  }
}

h4 {
  @include h-styles;

  & {
    font-size: $h4-font-size;
  }
}

h5 {
  @include h-styles;

  & {
    font-size: $h5-font-size;
  }
}

h6 {
  @include h-styles;

  & {
    font-size: $h6-font-size;
  }
}

blockquote {
  @include blockquote;
}

p {
  @include child-margins;

  & {
    word-wrap: break-word;
    font-weight: 400;

    >img {
      border: 1px solid $c-body-bg;
    }
  }
}