@use "../vars" as *;
@use "breakpoints" as *;
@use "focus" as *;
@use "size" as *;

@mixin core-button {
  font-size: inherit;
  border: 1px solid;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

@mixin solid-button($background-color: black, $color: white, $border-radius: 50%, $padding: 0.375rem) {
  @include core-button;

  & {
    background-color: $background-color;
    border-radius: $border-radius;
    justify-content: center;
    border-color: $color;
    display: inline-flex;
    align-items: center;
    fill: currentColor;
    padding: $padding;
    color: $color;
  }

  &:disabled {
    visibility: hidden;
  }

  &:active {
    transform: scale(0.95);
  }

  svg {
    position: relative;
  }

  @include focus {
    @include double-box;
  }
}

@mixin outline-button($background-color: white, $color: black, $border-radius: 50%, $padding: 0.375rem) {
  @include core-button;

  & {
    background-color: $background-color;
    border-radius: $border-radius;
    justify-content: center;
    border-color: $color;
    display: inline-flex;
    align-items: center;
    fill: currentColor;
    padding: $padding;
    color: $color;
  }

  &:disabled {
    visibility: hidden;
  }

  &:active {
    transform: scale(0.95);
  }

  svg {
    position: relative;
  }

  @include focus {
    border-color: $background-color;
    background-color: $color;
    color: $background-color;
  }
}

@mixin page-button {
  @include outline-button($page-button--defaults...);
  @include size($page-button-size);
}

@mixin gallery-button {
  @include outline-button($gallery-button--defaults...);
  @include size($page-button-size);
}

@mixin trello-button {
  @include page-button;

  svg {
    @include medium-down {
      transform: rotate(90deg);
    }
  }
}

@mixin invisible-button {
  @include core-button;

  & {
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0;
  }
}