@use "../vars" as *;

@mixin focus-visible {
  &[data-focus-visible-added] {
    @content;
  }
}

@mixin focus {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  &:active {
    @content;
  }

  @include focus-visible {
    @content;
  }
}

@mixin dashed-box($color: black, $offset: 4px, $weight: 2px) {
  outline: $weight dashed $color;
  outline-offset: $offset;
}

@mixin single-box($color: white, $size: 0.25rem) {
  outline: $size solid $color;
  position: relative;
  z-index: 2;
}

@mixin double-box($color: black, $size: 0.1875rem, $offset: 0.1875rem) {
  @include single-box($color, $size);

  & {
    outline-offset: $offset;
  }
}

@mixin focus-link {
  @include single-box(white, 0.375rem);

  & {
    background-color: white;
  }
}

@mixin lemon-box {
  @include single-box($c-lemon);

  & {
    background-color: $c-lemon;
    color: black;
  }
}

@mixin white-box {
  @include single-box(white);

  & {
    background-color: white;
    color: black;
  }
}

@mixin gold-box {
  @include single-box($c-gold);

  & {
    background-color: $c-gold;
    color: black;
  }
}

@mixin focus-about($a, $b) {
  @include single-box($a);

  & {
    background-color: $b;
    color: $a;
  }
}

@mixin focus-resume {
  border-color: black;
}