@use "../vars" as *;
@use "../mixins/typography" as *;
@use "../mixins/focus" as *;

@mixin track_name($focusable: true) {
  @include text-overflow;
  display: inline-block;
  font-size: 1.125rem;
  max-width: 100%;
  padding: 0.5rem;
  line-height: 1;

  @if $focusable {
    @include focus {
      background-color: $c-lemon;
      outline: transparent;
      color: black;
    }
  }

  @else {
    cursor: default;
  }
}