@use "../vars" as *;
@use "focus" as *;
@use "typography/code" as *;

@forward "typography/overflow";
@forward "typography/code";

@mixin child-margins($margin: $margin-paragraph) {
  margin: 0 0 $margin;

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin list-styles {
  @include child-margins;

  & {
    padding-left: $margin-paragraph;
    font-weight: 400;
  }
}

@mixin simple-links {
  a:not(.anchor) {
    @content;
  }
}

@mixin blockquote {
  @include code-setup;
  @include child-margins;

  & {
    border: 1px solid $c-status-neutral-light;
    background-color: $c-status-neutral-fade;
    font-size: $font-size-summary;
    padding: $padding-blockquote;
    color: $c-status-neutral;

    @include simple-links {
      @include focus {
        @include single-box($c-status-neutral);
        background-color: $c-status-neutral;
        color: $c-status-neutral-fade;
      }
    }
  }
}

@mixin h-styles($margin: $margin-paragraph) {
  @include child-margins($margin);

  & {
    font-family: $font-family-headings;
    line-height: $line-height-sm;
  }
}