@use "../../vars" as *;

@mixin code-setup {
  background-color: $c-body-bg;
  padding: $margin-paragraph;
  display: block;
  margin: 0;
}

@mixin code-styles {
  @include code-setup;

  & {
    background-color: $color-code--background;
    font-size: $font-size-caption;
    color: $color-code;
    line-height: 1.75;

    &.hljs {
      padding: $margin-paragraph;
    }
  }
}