@use "sass:color";

$c-blue: #007bff;
$c-cyan: #17a2b8;
$c-sky: #85cdfa;

$c-indigo: #6610f2;
$c-purple: #6f42c1;
$c-pink: #e93f8e;
$c-red: #dc3848;
$c-darkred: color.adjust($c-red, $lightness: -10%);

$c-orange: #fd7e14;
$c-yellow: #ffc105;
$c-gold: #f5c356;
$c-lemon: lightgoldenrodyellow;

$c-green: #29a847;
$c-teal: #20c997;
$c-teal--dark: color.adjust($c-teal, $lightness: -10%);
$c-teal--xdark: color.adjust($c-teal, $lightness: -20%);
$c-teal--xxdark: color.adjust($c-teal, $lightness: -35%);