@use "sass:color";

$c-gray-1: #f8f9fa;
$c-gray-2: #e9ecef;
$c-gray-3: #dee2e6;
$c-gray-4: #ced4da;
$c-gray-5: #adb5bd;
$c-gray-6: #6c757d;
$c-gray-7: #495057;
$c-gray-8: #343a40;
$c-gray-9: #212529;

$color-code: #e1e3e8; // cant change this

$color-code--background: #24292e; // cant change this

$c-body-bg: $c-gray-2;

$c-body-banner: color.adjust($c-body-bg, $lightness: -15%);