@use "./core" as *;

$c-toggle-green: hsl(155, 65%, 65%);

$c-toggle-blue: hsl(195, 65%, 65%);

$c-toggle-purple: hsl(260, 65%, 65%);

$c-toggle-red: hsl(10, 75%, 50%);

$c-toggle-pink: hsl(5, 100%, 75%);

$c-toggle-yellow: $c-yellow;