---
import WindowTopbar from "#components/window/topbar";

let { topbar, className } = Astro.props;

let hasClassName = className.split(" ").length >= 2;

if (!hasClassName) className = "default";

const innerProps = {
  "class:list": ["inner-window", className],
};
---

<div {...innerProps}>
  {topbar && <WindowTopbar {...topbar} />}
  <slot />
</div>

<style lang="scss">
  @use "#mixins" as *;

  .inner-window {
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow-window;
    font-size: toRem(18);
    overflow: hidden;
  }

  .inner-window.default {
    background-color: white;
    color: black;
  }
</style>
