---
import Skiplink from "#components/skiplink";

let { settings, className, style = {}, width } = Astro.props;

const outerProps = {
  "class:list": ["outer-window", "linked", className],
  "data-label": settings.label,
  "data-name": settings.name,
  style,
};

if (width) outerProps.style.width = width;

if (!settings.open) {
  outerProps.style.visibility = "hidden";
  outerProps.style.opacity = 0;
  outerProps.style.scale = 0.5;
}
---

<div {...outerProps}>
  <Skiplink>Skip to folders</Skiplink>
  <slot />
</div>

<style lang="scss">
  @use "#styles/mixins" as *;

  .outer-window {
    position: relative;
    width: 16rem;
  }
</style>
