---
import Skiplink from "#components/skiplink";

const { name, open, label, class: className, style = {}, width } = Astro.props;

const outerProps = {
  "class:list": ["outer-window", className],
  "data-label": label,
  "data-name": name,
  style,
};

if (width) outerProps.style.width = width;

if (!open) {
  outerProps.style.visibility = "hidden";
  outerProps.style.opacity = 0;
  outerProps.style.scale = 0.5;
}
---

<div {...outerProps}>
  <Skiplink>Skip to folders</Skiplink>
  <slot />
</div>

<style lang="scss">
  @use "#styles/mixins" as *;

  .outer-window {
    position: absolute;
    width: 16rem;
  }
</style>
