@use "mixins" as *;

@use "global/banner";
@use "global/titles";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-body;
  font-weight: $font-weight-bold;
  background-color: $c-body-bg;
  line-height: $line-height-lg;
  font-size: $font-size-body;
  min-width: 20rem;
  color: black;
  margin: 0;

  &[data-state="hidden"] {
    background-color: black;
    visibility: hidden;
    overflow: hidden;
  }

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

a {
  color: inherit;
}

ul {
  @include list-styles;
}

ol {
  @include list-styles;
}

li+li {
  margin-top: 0.25rem;
}

input,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  appearance: none;
  width: 100%;
  padding: 0;
}

iframe {
  border: 0;
}