@forward "vars";
@forward "functions";

@forward "mixins/breakpoints";
@forward "mixins/buttons";
@forward "mixins/focus";
@forward "mixins/layouts";
@forward "mixins/size";
@forward "mixins/typography";

@use "vars" as *;

@mixin flex-links {
  align-items: center;
  gap: $gap-links;
  display: flex;
}